.about {
	padding: 20px 100px;
	text-align: center;
	line-height: 30px;
	font-size: 1.2rem;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
		'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
