.product-details {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 100px;
	height: 600px;
}
.product-details__img {
	flex: 1;
	width: 100%;
	height: 100%;
}
.product-details__img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.product-content {
	flex: 1;
	padding: 20px;

	display: flex;
	justify-content: center;
	flex-direction: column;
}
.product-title {
	font-size: 24px;
	text-transform: uppercase;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.product-price {
	font-size: 30px;
	color: rgb(163, 87, 48);
}

.btn-add {
	width: 330px;
	height: 40px;
	background-color: rgb(116, 90, 90);
	color: white;
	font-weight: 500;
	margin: 20px 0;
	cursor: pointer;

	display: flex;
	justify-content: center;
	align-items: center;
	transition: all linear 0.2s;
}
/* table */
#table-price {
	border-collapse: collapse;
	width: 330px;
	text-align: left;
}
#table-price th {
	font-weight: 600;
}

#table-price td {
	font-style: italic;
	font-size: 14px;
}

.btn-add:hover {
	transform: scale(1.02);
	transition: all linear 0.2s;
}
