.product-details {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 100px;
}
.product-details__img {
	flex: 1;
}
.product-content {
	flex: 1;
	padding: 20px;

	display: flex;
	justify-content: center;
	flex-direction: column;
}
.product-title {
	font-size: 1.5rem;
	text-transform: uppercase;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.product-price {
	font-size: 1.3rem;
	color: rgb(163, 87, 48);
}

.btn-add {
	width: 330px;
	height: 40px;
	background-color: rgb(116, 90, 90);
	color: white;
	font-weight: 500;
	margin: 20px 0;
	cursor: pointer;

	display: flex;
	justify-content: center;
	align-items: center;
	transition: all linear 0.2s;
}

.btn-add:hover {
	transform: scale(1.02);
	transition: all linear 0.2s;
}
